@font-face {
  font-family: "Roboto";
  src: url("./assests/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* TODO: Create UI design System */
/* TODO: Style the website */

:root {
  --ff-primary: "Roboto", sans-serif;
}

body {
  font-family: var(--ff-primary);
}

html,
body {
  height: 100%;
}

#content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.btn {
  padding: 1rem 2rem;
  border: 1px solid;
  cursor: pointer;
  user-select: none;
}

.btn-round {
  border-radius: 20px;
}

.btn:active {
  cursor: default;
  opacity: 0.8;
}

main {
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.new-btns-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.projects-list-container {
  padding: 1rem;
}

.projects-list {
  display: flex;
  justify-content: center;
}

.projects-list li:not(:last-child) button {
  border-right: none;
}

.todos-list-container {
  padding: 1rem;
}

.todos-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}
